<form>
  <div class="row">
	<div class="row collapse">
	        <div class="small-8 small-offset-1 columns">
	          <input type="text" placeholder="Search Keywords">
	        </div>
	        <div class="small-2 columns">
	          <a href="#" class="button postfix"><i class="fi-magnifying-glass style3"></i></a>
	        </div>
	        <div class="small-1 columns">
	        </div>
	      </div>
  </div>
</form>
<dl class="accordion" data-accordion> 
 <% @activities.each do |activity| %>
  <dd> 
    <a href="#panel<%= activity.id %>"><img class="radius profile logimage" src="images/default_profile.jpg">
	  <div class="clearfix row">

	  	<div class="update-text">
		  <div class="small-9 large-10 medium-10 columns">
		    <%= feed_icon(activity.action).html_safe %> 
            <%= ActivityPresenter.new(activity, self).render_activity.html_safe %>
		  </div>
		  <div class="small-2 large-1 medium-1 columns right timeago">
			<%= time_ago(activity.created_at)%>
		  </div>
		</div>
		 
      </div>
	</a> 
	<div id="panel<%= activity.id %>" class="content"> 
	  <div class="row">
		<div class="small-2 columns">
		  <img class="radius profile"src="images/default_profile.jpg">
		</div>
		<div class="small-10 columns">
      		<form>
			    <div class="row">
			      <div class="small-12 columns">
				    <input type="text" placeholder="Comment to John Q" size="66" />
			      </div>
			    </div>
			  </form>
	    </div>
	  </div>
	  <div class="row">
		<div class="small-2 columns">
		  <img class="radius profile"src="images/default_profile.jpg">
		</div>
		<div class="small-10 columns">
          <span>the latest comment</span>
	    </div>
	  </div>
	  <div class="row">
		<div class="small-2 columns">
		  <img class="radius profile"src="images/default_profile.jpg">
		</div>
		<div class="small-10 columns">
          <span>the 2nd latest comment</span>
	    </div>
	  </div>
	</div>
  </dd> 
  <% end %>
</dl>
