<dl class="tabs" data-tab> 
  <dd class="active">
	<a href="#panel2-1">Priorities</a>
  </dd> 
  <dd>
    <a href="#panel2-2">Blocks</a>
  </dd>
  <dd>
	<a href="#panel2-3">Stucks</a>
  </dd> 
</dl> 
<div class="tabs-content"> 
  <div class="content active" id="panel2-1"> 
    <form>
      <div class="row">
	    <div class="small-12 columns">
	      <textarea placeholder="Add Priority"></textarea>
	      <a href="#" class="button tiny radius round right">Add Priority</a>
	    </div>
	  </div>
	</form>
	<div class="panel callout radius">
	  <div class="row">
		<div class="small-12 columns">
	      <p>This is one of the top priorities. Probably needs more content ... but not much more </p>
	    </div>
	  </div>
      <div class="row right">
        <ul class="inline-list">  
	      <li><%= link_to root_path do %>
		        <i class="fi-trophy"></i> Complete
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-comment-quotes"></i> Comment
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-next"></i> Push
		      <% end %>
		  </li>
	      <li><%= link_to root_path do %>
		        <i class="fi-x"></i> Delete
		      <% end %>
		  </li> 
	    </ul>
	  </div>
	</div>
	<div class="panel callout radius">
	  <p>This is one of the top priorities.</p> 
	  <div class="row right">
        <ul class="inline-list">  
	      <li><%= link_to root_path do %>
		        <i class="fi-trophy"></i> Complete
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-comment-quotes"></i> Comment
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-next"></i> Push
		      <% end %>
		  </li>
	      <li><%= link_to root_path do %>
		        <i class="fi-x"></i> Delete
		      <% end %>
		  </li> 
	    </ul>
	  </div>
	</div>
	<div class="panel callout radius">
	  <p>This is one of the top priorities.</p> 
	  <div class="row right">
        <ul class="inline-list">  
	      <li><%= link_to root_path do %>
		        <i class="fi-trophy"></i> Complete
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-comment-quotes"></i> Comment
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-next"></i> Push
		      <% end %>
		  </li>
	      <li><%= link_to root_path do %>
		        <i class="fi-x"></i> Delete
		      <% end %>
		  </li> 
	    </ul>
	  </div>
	</div>
	<div class="panel radius">
	  <p>This is one of the other priorities.</p>
	  <div class="row right">
        <ul class="inline-list">  
	      <li><%= link_to root_path do %>
		        <i class="fi-trophy"></i> Complete
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-comment-quotes"></i> Comment
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-flag"></i> Today
		      <% end %>
		  </li>
	      <li><%= link_to root_path do %>
		        <i class="fi-x"></i> Delete
		      <% end %>
		  </li> 
	    </ul>
	  </div>
	</div>
	<div class="panel radius">
	  <p>This is one of the other priorities.</p>
	  <div class="row right">
        <ul class="inline-list">  
	      <li><%= link_to root_path do %>
		        <i class="fi-trophy"></i> Complete
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-comment-quotes"></i> Comment
		      <% end %>
		  </li>
		  <li><%= link_to root_path do %>
		        <i class="fi-flag"></i> Today
		      <% end %>
		  </li>
	      <li><%= link_to root_path do %>
		        <i class="fi-x"></i> Delete
		      <% end %>
		  </li> 
	    </ul>
	  </div>
	</div>
  </div> 
  <div class="content" id="panel2-2"> 
	<div class="panel callout radius">
	  	<img class="radius profile"src="images/default_profile.jpg">
		       <span class="update-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
		<div class="row right">
	        <ul class="inline-list">  
		      <li><%= link_to root_path do %>
			        <i class="fi-trophy"></i> Complete
			      <% end %>
			  </li>
			  <li><%= link_to root_path do %>
			        <i class="fi-comment-quotes"></i> Comment
			      <% end %>
			  </li>
			  <li><%= link_to root_path do %>
			        <i class="fi-torso"></i> Reassign
			      <% end %>
			  </li>
		    </ul>
		  </div>
	</div> 
  </div> 
  <div class="content" id="panel2-3"> 
    <form>
      <div class="row">
	    <div class="small-12 columns">
	       <form>
		      <div class="row">
			    <div class="small-12 columns">
			      <textarea placeholder="Add Stuck"></textarea>
			      <a href="#" class="button tiny radius round right">Add Stuck</a>
			    </div>
			  </div>
			</form>
			<div class="panel callout radius">
			   <a href="#" data-reveal-id="myModal"><img class="radius profile"src="images/default_profile.jpg"></a>
			     <span class="update-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				 </span>
		       	<div class="row right">
			        <ul class="inline-list">  
				      <li><%= link_to root_path do %>
					        <i class="fi-comment-quotes"></i> Comment
					      <% end %>
					  </li>
					  <li><%= link_to root_path do %>
					        <i class="fi-x"></i> Delete
					      <% end %>
					  </li>
				    </ul>
				  </div>
			</div>
			<div class="panel callout radius">
			   <img class="radius profile"src="images/default_profile.jpg">
			       <span class="update-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
              	<div class="row right">
			        <ul class="inline-list">  
					  <li><%= link_to root_path do %>
					        <i class="fi-comment-quotes"></i> Comment
					      <% end %>
					  </li>
					  <li><%= link_to root_path do %>
					        <i class="fi-x"></i> Delete
					      <% end %>
					  </li>
				    </ul>
				  </div>
			</div>
			<div id="myModal" class="reveal-modal" data-reveal> 
			  <div class="row">
			    <div class="large-12 columns">
			      <img class="radius profile"src="images/default_profile.jpg"><span class="profile-select-text">John Doe</span>
			      <input type="text" placeholder="Search by Name" />
			      <a href="#" class="button tiny radius round right">Assign</a>
			    </div>
			  </div> 
				<a class="close-reveal-modal">&#215;</a> 
			</div>
	    </div>
	  </div>
	</form>
  </div> 
</div>