<ul class="button-group">
  <li><%= link_to "Priorities", priorities_path, :class => "button secondary" %></li>
  <li><%= link_to "Blocks", blocks_path, :class => " secondary button" %></li>
  <li><%= link_to "Stucks", stucks_path, :class => "button" %></li>
</ul>
  <div class="content small-12 medium-8 large-6" id="panel2-3"> 
    <%= render 'form' %>
    <div id="stucks">
    <%= render @stucks %>
    </div> 
  </div> 

