<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Aldershot" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap">
	  <div class="inner-wrap">
		<nav class="tab-bar has-form has-dropdown" data-topbar> 
		  <section class="left-small">
		    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
		  </section>
		  <section class="middle tab-bar-section">
            <%= render 'layouts/navigation' %>
		  </section>
		  <section class="right-small">
		    <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
		  </section>
		</nav> 
		<aside class="left-off-canvas-menu"> 
          <%= render 'layouts/left_canvas' %>
		</aside> 
		<aside class="right-off-canvas-menu"> 
          <%= render 'layouts/right_canvas' %>
		</aside> 
		<section class="main-section">
            <div class="small-12 small-centered columns">
	          &nbsp;
              <header>
		        <%= render 'layouts/messages' %>
		      </header>
	        </div> 
			<div class="small-8 large-4 small-centered columns panel callout">
				<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
				  <div class="row"> 
					 <div class="large-12 small-12 columns"> 
						 <%= f.input :email, :autofocus => true, :label => false, :placeholder => "user@example.com" %> 
					 </div> 
				   </div> 
				   <div class="row"> 
					   <div class="large-8 small-8 columns">
					     <%= f.input :password, :label => false, :placeholder => "********" %>
					   </div>
					   <div class="large-4 small-4 columns">
					     <%= f.button :submit, "Sign in", :class => 'button tiny radius' %>
					   </div>
				   </div>  
				   <div class="row"> 
					 <div class="large-6 columns"> 
					   <%= f.input :remember_me, :input_html => { :checked => true }, :as => :boolean, :label => "Remember me" if devise_mapping.rememberable? %>
					   <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
					     <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
					   <% end -%>
					 </div> 
				   </div> 
				<% end %>
			</div> 
			<div class="small-8 large-4 small-centered columns panel callout">
				<div>
		          <h3>&nbsp;&nbsp;&nbsp;New here? Sign up</h3>
		        </div>
				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
				  <div class="row"> 
					 <div class="large-12 small-12 columns"> 
						 <%= f.input :name, :autofocus => true, :label => false, :placeholder => "Full Name" %> 
					 </div> 
				   </div>
				  <div class="row"> 
					 <div class="large-12 small-12 columns"> 
						 <%= f.input :email, :required => true, :label => false, :placeholder => "Email Address" %> 
					 </div> 
				   </div> 
				   <div class="row"> 
					   <div class="large-8 small-8 columns">
					     <%= f.input :password, :label => false, :required=> true, :placeholder => "Password" %>
					   </div>
				   </div>  
				   <div class="row"> 
					   <div class="large-8 small-8 columns">
					     <%= f.input :password_confirmation, :label => false, :required=> true, :placeholder => "Password Confirmation" %>
					   </div>
				   </div>
				   <div class="row"> 
					   <div class="large-6 columns">
					     <%= f.button :submit, "Sign up", :class => 'button success tiny radius' %>
					   </div>
				   </div> 
				<% end %>				
			</div>
		</section> 
		  <a class="exit-off-canvas"></a> 
	  </div>
	</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>